<style>
  h1{
    text-align:center;
    font-family:KacstLetter;
    font-size:50px;
    color:red;

  }
  a{
    text-decoration:none;
  }
  .waves-effect{
    float:right;
  }
  .input-field{
    position:relative;
    margin-right:auto;
    margin-left:auto;
    display:block;
  }
</style>

<div class="container">
  <a href="/"><h1>신이 나를 만들때</h1></a><br><br>
  <form action="/random/result">
    <div class="row">
      <div class="input-field col s12 m4 l8" >
        <input id="first_name2" type="text" name="name" class="validate" placeholder="(성)이름">
        <label class="active" for="first_name2">이름을 입력하세요</label>
        <input type="submit" class="waves-effect waves-light btn" ></input>
      </div>
    </div>
  </form>
</div>