<style>
  h1{
    text-align:center;
    font-family:KacstLetter;
    font-size:50px;
    color:red;
  }
  img{
    position:relative;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  a{
    text-decoration:none;
  }

</style>

<a href="/"><h1>신이 나를 만들때</h1></a>
<a href="/random/game" style="text-align:center">
<img src="http://lh3.googleusercontent.com/OOBn4wU-SrTCl2uHHfqY3Xkgy8-SU_tXTmsikUc1usJ44kr2033tq0FRLoJILrlM0oRdczNl8Yx_Qf53YWZUJqEGaz9S2rpTng=s640-l65" alt="intro-image">
</a>